.x-small {
  font-size: 11px;
}

.bg-info-subtle {
  background-color: #e0f2fe;
}

.text-info {
  color: #0369a1;
}

.bg-success-subtle {
  background-color: #dcfce7;
}

.text-success {
  color: #15803d;
}

.bg-danger-subtle {
  background-color: #fee2e2;
}

.text-danger {
  color: #b91c1c;
}

.offcanvas-backdrop {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
