<div class="container-fluid bg-lith">
  <div class="container">
    <div class="container-fluid">
      <!-- titulo -->
      <div class="card rounded-3 border-2 border-zinc-200 p-4 bg-white overflow-hidden my-4">
        <div class="flex flex-col gap-2">
          <h2 class="fw-bold text-dark m-0">Mis órdenes</h2>
          <p class="text-muted small m-0 mt-1">Revisa fácilmente tus órdenes aquí.</p>
        </div>
        <!-- buscar y borrar -->
        <div class="row g-3 align-items-end mb-4">
          <div class="col-12 col-md-3">
            <ui-inputs
              type="text"
              label="Buscador de orden"
              placeholder="buscador de orden"
              icon="fi fi-rr-search"
              [(ngModel)]="filtroId"
            >
            </ui-inputs>
          </div>

          <div class="col-12 col-sm-6 col-md-3">
            <ui-inputs
              type="select"
              label="Estado"
              placeholder="Seleccionar estatus"
              [options]="opcionesEstatus"
              [(ngModel)]="filtroEstatus"
            >
            </ui-inputs>
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label small fw-semibold text-secondary">Fecha inicio</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="filtroFechaInicio"
              style="height: 40px; border-radius: 5px; border-color: #d0d5dd; font-size: 15px"
            />
          </div>

          <div class="col-12 col-sm-6 col-md-2">
            <label class="form-label small fw-semibold text-secondary">Fecha fin</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="filtroFechaFin"
              style="height: 40px; border-radius: 5px; border-color: #d0d5dd; font-size: 15px"
            />
          </div>

          <!-- Botones corregidos -->
          <div class="col-12 col-md-2">
            <div class="d-flex flex-column flex-sm-row gap-2">
              <button
                class="btn btn-outline-secondary text-dark border-light-subtle bg-white w-100 w-sm-auto"
                type="button"
                (click)="limpiarFiltros()"
                style="height: 40px; border-radius: 5px"
              >
                Limpiar
              </button>
              <button
                class="btn btn-outline-secondary text-dark border-light-subtle bg-white w-100 w-sm-auto"
                type="button"
                (click)="buscarOrdenes()"
                style="height: 40px; border-radius: 5px"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- TARJETAS TOTAL GASTADO -->
      <div class="row g-3 mb-4">
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card rounded-3 border-2 border-zinc-200 bg-white p-3 h-100">
            <div class="text-secondary small fw-medium mb-1 d-flex align-items-center gap-1">
              <i class="fi fi-sr-usd-circle"></i>Total gastado
            </div>
            <h2 class="fw-bold text-dark my-1">{{ totalGastado | currency }}</h2>
            <span class="text-muted small d-none d-sm-block">Suma total de todas tus compras</span>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card rounded-3 border-2 border-zinc-200 bg-white p-3 h-100">
            <div class="text-secondary small fw-medium mb-1 d-flex align-items-center gap-1">
              <i class="fi fi-sr-credit-card"></i> Crédito disponible
            </div>
            <h2 class="fw-bold text-dark my-1">{{ creditoDisponible | currency }}</h2>
            <span class="text-muted small d-none d-sm-block">Crédito que te queda por usar</span>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card rounded-3 border-2 border-zinc-200 bg-white p-3 h-100">
            <div class="text-secondary small fw-medium mb-1 flex align-items-center gap-1">
              <i class="fi fi-sr-duplicate"></i> Total de órdenes
            </div>
            <h2 class="fw-bold text-dark my-1">{{ totalOrdenes }}</h2>
            <span class="text-muted small d-none d-sm-block"
              >Cantidad total de compras realizadas</span
            >
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card rounded-3 border-2 border-zinc-200 bg-white p-3 h-100">
            <div class="text-secondary small fw-medium mb-1 d-flex align-items-center gap-1">
              <i class="fi fi-sr-clock-three"></i> Órdenes procesando
            </div>
            <h2 class="fw-bold text-dark my-1">{{ ordenesProcesando }}</h2>
            <span class="text-muted small d-none d-sm-block">Compras que aún están en curso</span>
          </div>
        </div>
      </div>

      <!-- TABLAS  -->
      <div class="card rounded-3 border-2 border-zinc-200 bg-white overflow-hidden my-4">
        <div *ngIf="ordenesFiltradas.length > 0">
          <div class="table-responsive">
            <table class="table table-hover align-middle border-2 border-zinc-200 mb-0">
              <thead class="table-light text-secondary small text-uppercase border-bottom">
                <tr>
                  <th class="px-6 py-4 text-center text-secondary fw-semibold">Orden</th>
                  <th class="px-6 py-4 text-center text-secondary fw-semibold">Fecha</th>
                  <th class="px-6 py-4 text-center text-secondary fw-semibold">Tipo de pago</th>
                  <th class="px-6 py-4 text-center text-secondary fw-semibold">Total</th>
                  <th class="px-6 py-4 text-center text-secondary fw-semibold">Estado</th>
                  <th class="px-6 py-4 text-center text-secondary fw-semibold">Acciones</th>
                </tr>
              </thead>
              <!-- contenido de la tabla -->
              <tbody>
                <tr *ngFor="let orden of ordenesPaginadas" class="border-bottom border-zinc-200">
                  <td class="px-6 py-4 text-center text-secondary">{{ orden.id }}</td>
                  <td class="px-6 py-4 text-center text-secondary">{{ orden.fecha }}</td>
                  <td class="px-6 py-4 text-center text-secondary">{{ orden.tipoPago }}</td>
                  <td class="px-6 py-4 text-center text-secondary">{{ orden.total | currency }}</td>
                  <td class="py-3 text-center px-6">
                    <span
                      class="badge py-1 rounded-1 fw-semibold"
                      [ngClass]="{
                        'bg-success-subtle text-success': orden.estado === 'Entregada',
                        'bg-danger-subtle text-danger': orden.estado === 'Cancelada',
                        'bg-info-subtle text-info': orden.estado === 'Procesando',
                      }"
                    >
                      {{ orden.estado }}
                    </span>
                  </td>
                  <td class="px-6 py-4 text-center text-secondary">
                    <button class="btn text-dark p-0 border-0" (click)="seleccionarOrden(orden)">
                      <i class="fi fi-rr-eye"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- footer -->
          <div
            class="table-footer flex-shrink-0 px-4 py-3 border-top bg-light d-flex align-items-center justify-content-between flex-wrap gap-2"
          >
            <span class="text-secondary small">{{ totalItemsRegistros }}</span>

            <div class="d-flex align-items-center gap-3 flex-wrap">
              <div class="d-flex align-items-center gap-2">
                <span class="text-secondary small">Filas por página:</span>
                <select
                  class="form-select form-select-sm"
                  style="width: auto"
                  (change)="cambiarFilasPorPagina($event)"
                >
                  <option *ngFor="let op of opcionesFilasPorPagina" [value]="op">{{ op }}</option>
                </select>
              </div>

              <div class="d-flex align-items-center gap-2">
                <button
                  class="btn btn-sm btn-outline-secondary px-2 py-1"
                  (click)="paginaAnterior()"
                  [disabled]="paginaActual === 1"
                >
                  <i class="fi fi-rr-angle-left"></i>
                </button>
                <span class="text-secondary small">{{ paginaActual }}/{{ totalPaginas }}</span>
                <button
                  class="btn btn-sm btn-outline-secondary px-2 py-1"
                  (click)="paginaSiguiente()"
                  [disabled]="paginaActual === totalPaginas"
                >
                  <i class="fi fi-rr-angle-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Ordenes vacias -->
        <div
          *ngIf="ordenesFiltradas.length === 0"
          class="d-flex flex-column align-items-center justify-content-center py-5 bg-white"
        >
          <div class="my-4 text-center">
            <div
              class="mb-3 d-inline-flex p-3 bg-warning-subtle rounded-circle text-warning align-items-center justify-content-center"
              style="width: 64px; height: 64px"
            >
              <i class="fi fi-rr-search fs-3"></i>
            </div>
            <h4 class="fw-bold text-dark mb-2">No se encontraron órdenes</h4>
            <p class="text-secondary small mb-0">
              Prueba ajustar tus filtros de búsqueda.
              <a
                href="javascript:void(0)"
                class="text-primary text-decoration-underline fw-normal"
                (click)="limpiarFiltros()"
                >Limpiar filtro</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal (ya sirve)-->
<div class="modal fade justify-content-end" id="modalDetalleOrden" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable ms-auto m-3 min-vh-100" style="max-width: 450px">
    <div class="modal-content border-0 shadow bg-white min-vh-100 rounded-3">
      <div
        class="p-4 d-flex justify-content-between align-items-start border-bottom border-2 border-zinc-200"
      >
        <div>
          <h3 class="fw-bold text-dark m-0">{{ ordenSeleccionada?.id }}</h3>
          <span class="text-secondary small">Detalles de la orden</span>
        </div>
        <button
          type="button"
          class="btn-close shadow-none"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <!-- ESTADO -->
        <div class="mb-3 p-3 border-bottom border-light-subtle">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-secondary small">Estado</span>
            <span
              class="badge px-2 py-1 rounded-1 fw-semibold"
              [ngClass]="{
                'bg-success-subtle text-success': ordenSeleccionada?.estado === 'Entregada',
                'bg-danger-subtle text-danger': ordenSeleccionada?.estado === 'Cancelada',
                'bg-info-subtle text-info': ordenSeleccionada?.estado === 'Procesando',
              }"
            >
              {{ ordenSeleccionada?.estado }}
            </span>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-secondary small">Fecha de pedido</span>
            <span class="text-dark small fw-medium">{{ ordenSeleccionada?.fecha }}</span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-secondary small">Cliente</span>
            <span class="text-dark small fw-medium">{{ ordenSeleccionada?.cliente }}</span>
          </div>
        </div>

        <!-- FACTURA Y ENVIO -->

        <div class="mb-3 border-bottom border-light-subtle">
          <h6 class="text-secondary small fw-semibold mb-2">Envío y Factura</h6>
          <div class="p-3 mb-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-secondary small">Transportista</span>
              <span class="text-dark small fw-medium text-uppercase">{{
                ordenSeleccionada?.transportista || 'REVISAR SELECCION'
              }}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-secondary small">Nº Factura</span>
              <span class="text-dark small fw-medium">{{
                ordenSeleccionada?.numFactura || '0'
              }}</span>
            </div>
          </div>
        </div>

        <!-- PRODUCTOS -->
        <div class="mb-3 border-bottom">
          <div class="d-flex justify-content-between align-items-center py-3">
            <h6 class="text-secondary small fw-semibold m-0">Productos</h6>
            <span class="badge bg-info-subtle text-info rounded-1 fw-semibold small">
              {{ ordenSeleccionada?.productos?.length || 0 }} Productos
            </span>
          </div>

          <div class="mb-4">
            <div
              *ngFor="let prod of ordenSeleccionada?.productos"
              class="d-flex align-items-center justify-content-between mb-2"
            >
              <div class="d-flex align-items-center gap-3">
                <img
                  [src]="prod.imagen"
                  class="rounded border border-light-subtle object-fit-cover"
                  style="width: 48px; height: 48px"
                />
                <div>
                  <div class="text-dark fw-semibold small text-uppercase">
                    {{ prod.nombre }}
                  </div>
                  <div class="text-secondary x-small text-uppercase">
                    {{ prod.sku }} • {{ prod.cantidad }} un. x
                    {{ prod.precioUnitario | currency }}
                  </div>
                </div>
              </div>
              <span class="text-dark fw-semibold small">{{
                prod.precioUnitario * prod.cantidad | currency
              }}</span>
            </div>
          </div>
        </div>

        <h6 class="text-secondary small fw-semibold mb-2">Resumen financiero</h6>
        <div class="rounded-3 p-3 border border-light-subtle mb-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-secondary small">Subtotal</span>
            <span class="text-dark small fw-medium">{{
              ordenSeleccionada?.subtotal | currency
            }}</span>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-secondary small">Flete</span>
            <span class="text-dark small fw-medium">{{
              ordenSeleccionada?.flete || 0 | currency
            }}</span>
          </div>
          <div
            class="d-flex justify-content-between align-items-center border-bottom border-light-subtle pb-3 mb-3"
          >
            <span class="text-secondary small">IVA(16%)</span>
            <span class="text-dark small fw-medium">{{ ordenSeleccionada?.iva | currency }}</span>
          </div>
          <div class="d-flex justify-content-between align-items-end">
            <span class="text-secondary small fw-medium">Total</span>
            <span class="text-dark h4 fw-bold m-0">{{ ordenSeleccionada?.total | currency }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
