<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="/logoCompleto/logo-completo-sin-fondo-horizontal.svg" alt="Logo CABS Computación" 
                class="d-inline-block align-text-top logo-imagen">
        </div>
        
        <div class="d-flex justify-content-center align-items-center gap-3">
            <a class="nav-link" 
               routerLink="catalogo-producto/lista-producto"
               routerLinkActive="active-link">
               Catálogo de Productos
            </a>
            <a class="nav-link" 
               routerLink="ordenes/lista-ordenes"
               routerLinkActive="active-link">
               Mis órdenes
            </a>
        </div>
        
        <div class="user-menu" (click)="toggleDropdown($event)">
            <div class="conteniner-avatar">
                <span class="text-avatar">{{ getInitials() }}</span>
            </div>
        </div>
    </div>
</nav>