<div class="producto-card">
  <div class="imagen-container">
    @if (imagen) {
    <img [src]="imagen" [alt]="nombre" class="producto-imagen" />
    } @else {
    <i class="bi bi-image fs-1 text-secondary"></i>
    }
  </div>

  <div class="producto-info">
    <h3 class="producto-nombre" [title]="nombre">
      {{nombre}}
    </h3>

    <p class="producto-marca"> {{ marca }} • {{ categoria }} • Stock: {{ stock }} </p>
    <div class="precios">
      <span class="precio-actual">${{ precio }}</span>
      <span class="precio-original">${{ precioOriginal }}</span>
    </div>

    <div class="acciones">
      <button class="btn-agregar" (click)="onAgregar()">Agregar</button>
      <a class="btn-detalles" [routerLink]="['/catalogo-producto/detalles-producto', referencia]">
        Ver detalles
      </a>
    </div>
  </div>
</div>