.main-footer {
  background: linear-gradient(90deg, #0b1a60 0%, #152b8c 100%);
  padding: 25px 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-copyright {
  color: #ffffff;
  opacity: 0.9;
  
  /* Valores de Figma */
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400; /* normal */
  line-height: 16px;
  letter-spacing: 0%;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;

  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400; /* normal */
  line-height: 16px;
  letter-spacing: 0%;
}


.footer-link:hover {
  opacity: 0.8;
}